body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
pre {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}
code {
    font-family: monospace;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
#profileDetails input:disabled,
#profileDetails textarea:disabled {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #999; /* Optional: Dim the text color */
  cursor: not-allowed;
}
#event-kind-help ul {
    list-style-type: none;
    padding: 0;
}

#event-kind-help li {
    margin-bottom: 5px;
}

#event-kind-help strong {
    font-weight: bold;
}
/* Styles for event list */
#eventList ul {
    list-style: none;
    padding: 0;
}

.event-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.event-summary {
    font-weight: bold;
    margin-bottom: 5px;
}

.event-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    display: none; /* Hidden by default */
}
